.search-detail {
  display: flex;
  flex: 1;
  min-height: 83.3vh;
  flex-direction: column;
  .show-results {
    font-size: 44px;
    color: var(--color-green);
    font-weight: bold;
  }
  .show-results-err {
    h1 {
      font-size: 44px;
      color: var(--color-orangered);
      font-weight: bold;
    }
    a{
        color: var(--color-white);
        font-weight: bold;
        font-size: 24px;
        display: flex;
        align-items: center;
        gap: 0 5px;
    }
  }
}
