.footer {
  padding: 1rem 0;
  background-color: var(--color-primary);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-text);
  a {
    color: var(--color-text);
    text-decoration: none;
    margin: 0 10px;
  }
}
