@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Dongle", sans-serif;
  font-size: 16px;
}

:root {
  --color-primary: #040c18;
  --color-secondary: #042c54;
  --color-orange: #ff8a71;
  --color-orangered: #ff4820;
  --color-darkblue: #052d56;
}